*.pyc
*.so
cache/
output/
data/wider
experiments/logs/
datasets/
debug/
lib/build/
matplotlibrc
*.out
*.pdf
*.esp
*.mat
*.pckl
*.swp
matlab/eval_tools/plot/baselines/Val/*
matlab/eval_tools/plot/baselines/Test/*
matlab/eval_tools/plot/figure/Val/*
matlab/eval_tools/plot/figure/Test/*
